# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

*   Python
*   R
*   SQL
*   Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks         |
| RStudio                  |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Describe open-source tools used in Data Science.
- Explain the basics of Jupyter Notebooks and their use in Data Science.
- Convert units (e.g., minutes to hours) with simple arithmetic expressions.
- Discuss various data science libraries and their applications.

## Author

WILMAR CRISTANCHO TRIANA